@page "/"
@page "/cruising"

<h3>Cruising</h3>

<div style="color: white">
    <h4>Heading</h4>
    <h1>047°</h1>
    <h5>T</h5>
</div>

<div style="color: blue">
    <h4>STW</h4>
    <h1>5.3</h1>
    <h5>kts</h5>
</div>

<div style="color: green">
    <h4>COG</h4>
    <h1>053°</h1>
    <h5>T</h5>
</div>

<div style="color: purple">
    <h4>SOG</h4>
    <h1>5.4</h1>
    <h5>kts</h5>
</div>

@code {

}
