@page "/"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.SignalR.Client
@using SailDisplay.Components.Data
@using SailDisplay.Components.Hubs

@inject NetService netService
@inject NavigationManager navigationManager
@inject IConfiguration configuration
@inject BrowserService bs


<div style="height: 25%">
    <Field DataType=NetHub.eDataType.Heading></Field>
</div>
<div style="height: 25%">
    <Field DataType=NetHub.eDataType.STW></Field>
</div>
<div style="height: 25%">
    <Field DataType=NetHub.eDataType.COG></Field>
</div>
<div style="height: 25%">
    <Field DataType=NetHub.eDataType.SOG></Field>
</div>

<p id="demo"></p>

@code {
    public int Height { get; set; }
    public int Width { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await GetDimensions();
    
    async Task GetDimensions()
    {
        var dimension = await bs.GetDimensions();
        Height = dimension.Height;
        Width = dimension.Width;
    }

    }
}
