@page "/Display1"
@using SailDisplay.Components.Hubs

<div style="height: 24vh">
    <Field DataType=NetHub.eDataType.TWS></Field>
</div>
<div style="height: 24vh">
    <Field DataType=NetHub.eDataType.TWA></Field>
</div>

@code {

}
