@page "/Display2"
@using SailDisplay.Components.Hubs

<div style="height: 24vh">
    <Field DataType=NetHub.eDataType.TimeToBurn></Field>
</div>
<div style="height: 24vh">
    <Field DataType=NetHub.eDataType.TimeToStart></Field>
</div>
<div style="height: 49vh">
    <UpWind></UpWind>
</div>

@code {

}
