@page "/Display2"
@using SailDisplay.Components.Hubs

<div style="height: 24vh">
    <Field DataType=NetHub.eDataType.Heading></Field>
</div>
<div style="height: 24vh">
    <Field DataType=NetHub.eDataType.TWA></Field>
</div>
<div style="height: 49vh">
    <UpWind></UpWind>
</div>

@code {

}
